doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet')

    <!-- DOWNLOADED CORE JQUERY LIBRARY -->
    script(src='js/jquery.js')
    <!-- SCROLL REVEAL LIBRARY FOR SCROLLING ANIMATIONS-->
    script(src='js/scrollReveal.js')
    <!-- CUSTOM SCRIPT-->
    script(src='js/main.js')
  body
    block content
